{% extends 'base.html' %}

<!-- https://swiperjs.com/get-started -->
<!-- https://raddy.co.uk/blog/better-netflix-carousel-using-swiperjs/?_ga=2.48700514.531499082.1624005259-591471417.1624005259 -->


{% load static %}
{% load crispy_forms_tags %}
{% block title %}Stored tracks{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/container-styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper-bundle.css' %}">
{% endblock %}

{% block navbutton %}
<ul class="navbar-nav mr-auto">
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-1" href="#" data-toggle="dropdown">Playlist</a>
        <div class="dropdown-menu dropdown-menu-left">
          <a class="dropdown-item" href="{% url 'play_top_tracks' %}">Play top tracks</a>
        <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" href="{% url 'home' %}">Home</a>
        </div>
    </li>
</ul>
{% endblock %}

{% block content %}

<div class="netflix-slider">
  <h2 class="mb-5">Playlist {{ user.first_name }}</h2>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for track in track_list %}
        <div class="swiper-slide">
          <h5>{{ track.track_name }}</h5>
            <iframe src="https://open.spotify.com/embed/track/{{ track.track_id }}" width="100%" height="300" frameborder="0"
            allowtransparency="true" allow="encrypted-media"></iframe>
          <div style="display:flex">
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- Add Pagination -->
    <!-- <div class="swiper-pagination"></div> -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

{% endblock %}


{% block javascript %}
<script src="{% static 'js/swiper-bundle.js' %}"></script>

<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 5,
    spaceBetween: 10,
    slidesPerGroup: 2,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
{% endblock %}
