{% extends 'base.html' %}
{% load static %}

<!-- https://swiperjs.com/get-started -->
<!-- https://raddy.co.uk/blog/better-netflix-carousel-using-swiperjs/?_ga=2.48700514.531499082.1624005259-591471417.1624005259 -->

{% block title %}Playlist{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/container-styles.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-bundle.css' %}">
<style>
  #slide:hover {
    transform: scale(1.02);
  }
</style>
{% endblock %}

{% block navbutton %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle me-auto" href="#" role="button" data-bs-toggle="dropdown">
    Playlist
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'play_top_tracks' %}">Top tracks</a></li>
    <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
  </ul>
</li>
{% endblock %}

{% block content %}
<form id="id_playlist" method="post">
  <div class="d-flex">
    <h2 class="mb-4">Playlist {{ user.first_name }}</h2>
    <div class="dropdown ms-2 mt-2" style="z-index: 5; width: 200px">
      <button type="button" class="dropdown-toggle btn btn-light btn-sm">Sort</button>
      <div class="dropdown-content">
        {% for name in music_form.sort_choice %}
        <a class="btn btn-light btn-sm mt-0 mb-0">{{ name }}</a><br>
        {% endfor %}
        <button class="btn link-secondary ms-1 float-left">Submit</button>
      </div>
    </div>
  </div>

  {% csrf_token %}
  <div class="netflix-slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for track in track_list %}
        <div id="slide" class="swiper-slide">
          <div style="height:150px; margin-left: 3px">
            <h4>{{ track.name }}</h4>
            <h6>{{ track.artist }} </h6>
            <h6>{{ track.album }}</h6>
          </div>
          <img src="{{ track.image_url }}" alt="">
          <div style="display:flex; margin-top: 3px">
            {% if track.preview_url %}
            <audio controls style="float: left; width: 60%; margin-right: 10px; margin-top: 10px">
              <source src="{{ track.preview_url }}">
            </audio>
            {% endif %}
            <a href="https://open.spotify.com/track/{{ track.track_id }}" target="_blank"><img
                src="{% static 'img/Spotify_logo_without_text.png' %}" style="float: left; width:40px; margin-top: 50%">
            </a>
            <button class="btn link-secondary btn-sm float-left" name="{{ music_form.track_pk.name }}"
              value="{{ track.pk }}" onclick="return validateDelete(`{{ track.name }}`)">
              delete from playlist
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Add Pagination -->
      <!--<div class="swiper-pagination"></div>-->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/swiper-bundle.js' %}"></script>

<script>
  var swiper = new Swiper('.swiper-container', {
    keyboard: {
      enabled: true,
    },

    // Responsive breakpoints for screen size
    breakpoints: {
      240: {
        slidesPerView: 1,
        spaceBetween: 5,
        slidesPerGroup: 1,
      },
      480: {
        slidesPerView: 2,
        spaceBetween: 5,
        slidesPerGroup: 1,
      },
      720: {
        slidesPerView: 3,
        spaceBetween: 5,
        slidesPerGroup: 1,
      },
      900: {
        slidesPerView: 4,
        spaceBetween: 10,
        slidesPerGroup: 2,
      },
      1200: {
        slidesPerView: 5,
        spaceBetween: 10,
        slidesPerGroup: 3,
      }
    },

    pagination: {
      el: '.swiper-pagination',
      clickable: false,
    },

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

  function validateDelete(title) {
    confirmed = confirm("Do you really want to delete? " + title.slice(0, 40) + " ...");
    if (confirmed) {
      return true;
    }
    else {
      return false;
    }
  }

</script>
{% endblock %}