{% extends 'base.html' %}

{% load static %}
{% load martortags %}
{% load crispy_forms_tags %}

{% block title %}Edit post{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all"/>
<link rel="stylesheet" href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all"/>
<link rel="stylesheet" href="{% static 'plugins/css/semantic.min.css' %}" type="text/css" media="all"/>
<link rel="stylesheet" href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all"/>
{% endblock %}

{% block navbutton %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle me-auto" href="#" role="button" data-bs-toggle="dropdown">
    Edit contribution
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'topic_posts' post.topic.board.pk post.topic.pk %}">
        {{ post.topic.topic_subject }}</a></li>
    <li><a class="dropdown-item" href="{% url 'board_topics' post.topic.board.pk %}">
        {{ post.topic.board.name }}</a></li>
    <li><a class="dropdown-item" href="{% url 'boards' %}">Boards</a></li>
    <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
  </ul>
</li>
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <div class="mb-4">
    <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
    <button class="btn btn-primary btn-sm" name="deleted_post_pk" value="{{ post.pk }}"
      onclick="return validateDelete('{{ post.post_subject }}')">Delete contribtion
    </button>
    <button class="btn dropdown-toggle btn-primary btn-sm" data-bs-toggle="dropdown">Allowed editors</button>
    <ul class="dropdown-menu ps-1" style="height:40%; overflow:hidden; overflow-y:scroll;">
      {{ form.allowed_editor|as_crispy_field }}
    </ul>
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'topic_posts' post.topic.board.pk post.topic.pk %}"
      role="button">Cancel</a>
  </div>
  <div class="mb-4">
    {{ form.post_subject|as_crispy_field }}
    {{ form.message }}
  </div>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/board.js' %}"></script>
{% endblock %}