{% extends 'base.html' %}

{% load form_tags widget_tweaks %}

{% block title %}Start a New Topic{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item"><a href="{% url 'home' %}"
            >Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'boards' %}"
            >Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}"
            >{{board.name}}</a></li>
  <li class="breadcrumb-item active"
            >New topic</li>
</ol>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include "includes/form.html" with form=form1 %}
    {% include "includes/form.html" with form=form2 %}

    <button type="submit" class="btn btn-primary btn_sm">Submit new topic</button>
    <a href="{% url 'board_topics' board.pk %}"
       class="btn btn-outline-secondary btn-sm"
       role="button">Cancel</a>

  </form>
  <br>
  <br>
{% endblock %}
