{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Portfolio{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/container-styles.css' %}">
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Portfolio</li>
</ol>
{% endblock %}

{% block content %}
  {% now "Y-m-d" as current_date %}

  <form id="id_portfolio" method="post">
    <a style="visibility: hidden">{{ form.new_portfolio }} {{ form.quantity }}</a>
    {% csrf_token %}
    <div class="flex-container" style="min-height:10vh">
      <div class="left" style="min-height:50%;">
        <strong>Portfolios</strong><br>
        <button class="btn btn-outline-secondary btn-sm"
        onclick="return AskNewName()">New</button>
      </div>

      <div class="right" style="min-height:50%">
        {{ form.portfolio_name }}
        <button class="btn btn-outline-secondary btn-sm" name="btn1_pressed"
          value="rename_portfolio">Rename</button>
        <button class="btn btn-outline-secondary btn-sm" name="btn1_pressed"
          value="delete_portfolio"
          onclick="return ConfirmDelete('{{ form.portfolio_name.value }}')">Delete</button>
        {{ form.currency }}
        <br>

        {{ form.symbol }}
        <button class="btn btn-outline-secondary btn-sm" name="btn1_pressed"
          value="add_new_symbol">Add</button>
      </div>
    </div>

    <div class="flex-container" style="min-height:70vh">
      <div class="left" style="min-height:50%;">
        {% for portfolio in form.portfolios %}
          <p>
          {% if portfolio.data.selected %}
              <button type="button" class="btn btn-primary btn-sm"
                value={{ portfolio }}</button>

          {% else %}
            <button type="submit" class="btn btn-light btn-sm"
                value={{ portfolio }}</button>
          {% endif %}
          </p>
        {% endfor %}
      </div>

      <div class="right" style="min-height:100%">
        <table class="table table-fixed table-striped mb-2 mt-1 table-sm">
          <thead class="col-sm-8 custom-thead-grey">
            <tr>
              <th colspan="3">Company</th>
              <th colspan="2">Symbol</th>
              <th colspan="2">Currency</th>
              <th colspan="2">Price</th>
              <th colspan="2">Qty</th>
              <th colspan="2">Amount</th>
              <th colspan="2"></th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            {% for stock in stocks %}
              <tr>
                <td colspan="3">{{ stock.name|truncatechars:15 }}</td>
                <td colspan="2">{{ stock.symbol }}</td>
                <td colspan="2">{{ stock.currency }}</td>
                <td colspan="2">{{ stock.price }}</td>
                <td colspan="2">{{ stock.quantity }}</td>
                <td colspan="2">{{ stock.amount }}</td>
                <td colspan="2">
                  <button class="btn btn-outline-secondary btn-sm" name="btn2_pressed"
                          value="{{ stock.symbol }}"
                          onclick="return ChangeQuantity('{{ stock.name }}', '{{ stock.quantity }}')">Change</button>
                </td>
                <td colspan="2">
                  <button class="btn btn-outline-secondary btn-sm" name="btn2_pressed"
                          value="{{ stock.symbol }}" onclick="return ConfirmDelete('{{ stock.name }}' )">Delete</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </form>
  <br><br><br><br>
{% endblock content %}

{% block javascript %}
<script>
var form = document.getElementById('id_portfolio');

function AskNewName() {
  var newPortfolio = prompt('Please enter name of new portfolio', '');
  var button = document.getElementById('id_btn2');

  if (newPortfolio != null && newPortfolio != '') {
    form.new_portfolio.value = newPortfolio;
    return true;
  }
  else {
    return false;
  }
}

function ChangeQuantity(name, qty) {

  var newQuantity = prompt('Change quantity for ' + name, qty);

  if (newQuantity != null && newQuantity != qty) {
    form.quantity.value = newQuantity;
    return true;
  }
  else {
    return false;
  }
}

function ConfirmDelete(value) {
  confirmed = confirm('Do you really want to delete ' + value + '?');
  if (confirmed) {
    return true;
  }
  else {
    return false;
  }
}

</script>
{% endblock %}
