{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Portfolio{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/container-styles.css' %}">
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Portfolio</li>
</ol>
{% endblock %}

{% block content %}
  {% now "Y-m-d" as current_date %}

  <form id="id_portfolio" method="post">
    {% csrf_token %}
    <div class="flex-container" style="min-height:10vh">
      <div class="left" style="min-height:50%;">
        <strong>Portfolios</strong><br>
        <button class="btn btn-outline-secondary btn-sm" onclick="return AskNewName()">New</button>
    </div>

      <div class="right" style="min-height:50%">
        {{ form.portfolio_name }}
        <button class="btn btn-outline-secondary btn-sm" name="btn1_pressed"
          value="rename_portfolio">Rename</button>
        <button class="btn btn-outline-secondary btn-sm" name="btn1_pressed"
          onclick="return Validate()" value="delete_portfolio">Delete</button>
        {{ form.currency }}
        <a style="visibility: hidden">{{ form.new_portfolio }}</a>
        <br>
        {{ form.symbol }}
      </div>
    </div>

    <div class="flex-container" style="min-height:70vh">
      <div class="left" style="min-height:50%;">
        {% for portfolio in form.portfolios %}
          <p>
          {% if portfolio.choice_label == form.portfolio_name.value %}
            <button type="submit" class="btn btn-primary btn-sm"
              value={{ portfolio }}</button>

          {% else %}
            <button type="submit" class="btn btn-light btn-sm"
              value={{ portfolio }}</button>
          {% endif %}
          </p>
        {% endfor %}
      </div>

      <div class="right" style="min-height:100%;">
        <table class="table table-fixed table-striped md-4 table-sm">
          <thead class="custom-thead-grey">
            <tr>
              <th style="width:20vw">Company</th>
              <th style="width:10vw">Symbol</th>
              <th style="width:10vw">Currency</th>
              <th style="width:10vw">Price</th>
              <th style="width:10vw">Qty</th>
              <th style="width:10vw">Amount</th>
              <th style="width:10vw">Change</th>
              <th style="width:10vw">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in stocks %}
              <tr>
                <td style="width:20vw">{{ stock.company|truncatechars:20 }}</td>
                <td style="width:10vw">{{ stock.symbol }}</td>
                <td style="width:10vw">{{ stock.currency }}</td>
                <td style="width:10vw">{{ stock.price }}</td>
                <td style="width:10vw">{{ stock.quantity }}</td>
                <td style="width:10vw">{{ stock.amount }}</td>
                <td style="width:10vw">
                  <button class="btn btn-outline-secondary btn-sm" name="btn2_pressed"
                          value="{{ stock.quantity }}" onclick="return Validate()">Change</button>
                </td>
                <td style="width:10vw">
                  <button class="btn btn-outline-secondary btn-sm" name="btn2_pressed"
                          value="{{ stock.symbol }}" onclick="return Validate()">Delete</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- </div> -->
    </div>
  </form>
  <br><br><br><br>
{% endblock content %}

{% block javascript %}
<script>
var form = document.getElementById('id_portfolio');

function AskNewName() {
  var newPortfolio = prompt('Please enter name of new portfolio', '');

  if (newPortfolio != null && newPortfolio != '') {
    form.new_portfolio.value = newPortfolio;
    return true;
  }
  else {
    return false;
  }
}

function Validate() {
  confirmed = confirm('Do you really want to delete ' + form.portfolio_name.value + '?');
  if (confirmed) {
    return true;
  }
  else {
    return false;
  }
}
</script>
{% endblock %}
