{% extends 'base.html' %}<html>

{% load static %}
{% load stock_tags %}

{%block title %}Stock History{% endblock %}

{% block navbutton %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle me-auto" href="#" role="button" data-bs-toggle="dropdown">
    Stock history
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'stock_intraday' source stock_symbol %}">Latest stock trading</a></li>
    {% if source == 'quotes' %}
    <li><a class="dropdown-item" href="{% url 'stock_quotes' %}">Quotes</a></li>
    {% else %}
    <li><a class="dropdown-item" href="{% url 'portfolio' %}">Portfolio</a></li>
    {% endif %}
    <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
  </ul>
</li>
{% endblock %}

{% block content %}
<div class="flex-d" id="chart-container">FusionCharts()</div>
<div>
  <button class="btn btn-primary btn-sm"
    onclick="window.location.href='{% url 'stock_intraday' source stock_symbol %}'">Latest stock trading</button>
  <button class="btn btn-primary btn-sm"
    onclick="window.location.href='{% url 'stock_news' source stock_symbol %}'">Stock news</button>
  <button class="btn btn-primary btn-sm"
    onclick="window.location.href='{% url 'stock_press' source stock_symbol %}'">Press releases</button>
  {% for prd in periods reversed %}
  {% if period != prd %}
  {% if prd == periods|index:-1 %}
  <button class="btn btn-primary btn-sm"
    onclick="window.location.href='{% url 'stock_history' source stock_symbol prd %}'">History ({{prd}})</button>
  {% else %}
  {% if prd|add:0 > 1 %}
  <button class="btn btn-primary btn-sm"
    onclick="window.location.href='{% url 'stock_history' source stock_symbol prd %}'">{{prd}} years</button>
  {% else %}
  <button class="btn btn-primary btn-sm"
    onclick="window.location.href='{% url 'stock_history' source stock_symbol prd %}'">{{prd}} year</button>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}
</div>
<br>
<small>Data provided by <a href="https://{{ data_provider_url }}" target="_blank">{{ data_provider_url }}</a></small>
<br><br><br><br>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'fusioncharts/types/fusioncharts.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.candy.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fusion.js' %}"></script>
{{ chart_js|safe }}
{% endblock javascript %}