{% extends 'base.html' %}<html>

{% load static %}

{%block title %}Latest stock trading{% endblock %}

{% block navbutton %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle mr-1" href="#" data-toggle="dropdown">
      Latest stock trading
    </a>
    <div class="dropdown-menu dropdown-menu-left">
      {% if source == 'quotes' %}
        <a class="dropdown-item" href="{% url 'stock_quotes' %}">Quotes</a>
      {% else %}
        <a class="dropdown-item" href="{% url 'portfolio' %}">Portfolio</a>
      {% endif %}
      <a class="dropdown-item" href="{% url 'home' %}">Home</a>
    </div>
  </li>
</ul>
{% endblock %}

{% block content %}

	<div class="flex-d" id="chart-container">FusionCharts()</div>
	<div>
    <button class="btn btn-primary btn-sm" onclick="window.location.href='{% url 'stock_history' source stock_symbol 'max' %}'">History (max)</button>
    <button class="btn btn-primary btn-sm" onclick="window.location.href='{% url 'stock_history' source stock_symbol '5' %}'">5 years</button>
    <button class="btn btn-primary btn-sm" onclick="window.location.href='{% url 'stock_history' source stock_symbol '3' %}'">3 years</button>
    <button class="btn btn-primary btn-sm" onclick="window.location.href='{% url 'stock_history' source stock_symbol '1' %}'">1 year</button>
  </div>
  <br>
	<small>Data provided by <a href="https://{{ data_provider_url }}">{{ data_provider_url }}</a></small>
	<br><br><br><br>

{% endblock content %}

{% block javascript %}
	<script type="text/javascript" src="{% static "fusioncharts/types/fusioncharts.js" %}"></script>
	<script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.candy.js" %}"></script>
  <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fusion.js" %}"></script>
	{{ chart_js|safe }}

<script>
/* set width of chart-container based on screen width
   parent width if width < 600px
   80% of parent width if width > 600px
*/
$(window).resize(function() {
  $("#chart-container").each( function() {
    $parentWindow = $(this).parent();
    if ($parentWindow.width() < 600) {
      $(this).width($parentWindow.width());
    }
    else {
      $(this).width($parentWindow.width() * 0.8);
    }
  });
}).resize();

</script>
{% endblock javascript %}
