{% extends 'base.html' %}<html>

{% load static stock_tags %}

{%block title %}Stock news{% endblock %}

{% block navbutton %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle me-auto" href="#" role="button" data-bs-toggle="dropdown">
    Stock news
  </a>
  <ul class="dropdown-menu">
    {% if source == 'quotes' %}
    <li><a class="dropdown-item" href="{% url 'stock_quotes' %}">Quotes</a></li>
    {% else %}
    <li><a class="dropdown-item" href="{% url 'portfolio' %}">Portfolio</a></li>
    {% endif %}
    <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
  </ul>
</li>
{% endblock %}

{% block content %}

<h3><strong>Stock news for {{ company }} ({{ symbol }})</strong></h1>
  {% for news_item in stock_news %}
  <div class="card mb-2">
    <div class="card-body">
      <h4 class="card-title"><strong>{{ news_item.title }}</strong></h4>
      <p class="card-text">
        <small><strong>{{ news_item.site }}: {{ news_item.publishedDate }}</strong></small>
        <br>{{ news_item.text }}
      </p>
      <a class="btn btn-outline-primary btn-sm" href="{{ news_item.url }}" target="_blank">link</a>
      <a class="btn btn-outline-primary btn-sm" href="{% url 'stock_intraday' source symbol %}">Graphs</a>
      <a class="btn btn-outline-primary btn-sm" href="{% url 'stock_press' source symbol %}">Press releases</a>
      {% if source == 'quotes' %}
      <a class="btn btn-outline-primary btn-sm" href="{% url 'stock_quotes' %}">Return</a>
      {% else %}
      <a class="btn btn-outline-primary btn-sm" href="{% url 'portfolio' %}">Return</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% if not stock_news %}
  <div>
    <h2>Alas, there is no news ...</h2>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'stock_intraday' source symbol %}">Graphs</a>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'stock_press' source symbol %}">Press releases</a>
    {% if source == 'quotes' %}
    <a class="btn btn-outline-primary btn-sm" href="{% url 'stock_quotes' %}">Return</a>
    {% else %}
    <a class="btn btn-outline-primary btn-sm" href="{% url 'portfolio' %}">Return</a>
    {% endif %}
  </div>
  {% endif %}
  <div class="mb-5"> </div>

  {% endblock content %}

  {% block javascript %}{% endblock javascript %}