{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Stock quotes{% endblock %}

{% block stylesheet %}
  <style>
    .item_select
        { color: black;
          font-weight: normal;
          font-size: 1.1em;
        }
    .item_select:hover { color: black;
                         font-weight: bold;
                         font-size: 1.2em;
                         background-color: darkgrey;
        }
  </style>
  <link rel="stylesheet" type="text/css" href="{% static 'css/container-styles.css' %}">
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Stock Quotes</li>
</ol>
{% endblock %}

{% block content %}
{% now "Y-m-d" as current_date %}

<form id="stockquote" method="post">
{% csrf_token %}
  <div>
    {{ form.quote_string }}
    <a>
      <button class="btn dropdown-toggle btn-primary btn-sm" data-toggle="dropdown"
        >Portfolio's<span class="caret"></span></button>
        <ul class="dropdown-menu" style="height:40%; overflow:hidden; overflow-y:scroll;">
     		 	 {% for portfolio in portfolios %}
     			   <li><input type="submit" class="btn btn-sm item_select" name="selected_portfolio" value="{{ portfolio }}"></input></li>
     			 {% endfor %}
     		</ul>
    </a>
    <a>
      <button class="btn dropdown-toggle btn-primary btn-sm" data-toggle="dropdown"
        >Markets<span class="caret"></span></button>
        <ul class="dropdown-menu" style="height:40%; overflow:hidden; overflow-y:scroll;">
          {{ form.markets|as_crispy_field }}
        </ul>
    </a>
    <input type='submit' value='Quote' class="btn-sm btn-primary"></input>
  </div>
  <table class="table table-fixed table-striped mb-2 mt-1 table-sm">
    <thead class="custom-thead-grey">
      <tr>
        <th colspan="2">Company</th>
        <th colspan="1">Symbol</th>
        <th colspan="1">Market</th>
        <th colspan="1">Currency</th>
        <th style="width:2vw"></th>
        <th colspan="1">Price</th>
        <th colspan="1">+/-</th>
        <th colspan="1">Pct</th>
        <th colspan="1">Low</th>
        <th colspan="1">High</th>
        <th colspan="1">Previous</th>
        <th colspan="2">Last trade</th>
      </tr>
    </thead>
    <tbody>
    {% for stock in stock_info %}
      <tr>
        <td colspan="2"><a href="{% url 'stock_intraday' stock.symbol %}">{{ stock.name|truncatechars:18 }}</a></td>
        <td colspan="1">{{ stock.symbol }}</td>
        <td colspan="1">{{ stock.stock_exchange_short }}</td>
        <td colspan="1">{{ stock.currency }}</td>
        <td style="width:2vw; color:{{ stock.font_color }}">{{ stock.caret_up_down }}</td>
        <td colspan="1" style="color:{{ stock.font_color }}">{{ stock.price }}</td>
        <td colspan="1" style="color:{{ stock.font_color }}">{{ stock.day_change }}</td>
        <td colspan="1" style="color:{{ stock.font_color }}"">{{ stock.change_pct }}%</td>
        <td colspan="1">{{ stock.day_low }}</td>
        <td colspan="1">{{ stock.day_high }}</td>
        <td colspan="1">{{ stock.close_yesterday }}</td>
        {% if current_date > stock.last_trade_time|date:"Y-m-d" %}
          <td colspan="2">{{ stock.last_trade_time|date:"j M y, H:i" }}</td>
        {% else %}
          <td colspan="2">{{ stock.last_trade_time|date:"h:i a" }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </table>
</form>
<small>Data provided by <a href="https://{{ data_provider_url }}">{{ data_provider_url }}</a></small>
<br><br><br><br>
{% endblock content %}

{% block javascript %}
{% endblock %}
