{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load stock_tags %}

{% block title %}Portfolio{% endblock %}

{% block stylesheet %}{% endblock %}

{% block navbutton %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle me-auto" href="#" role="button" data-bs-toggle="dropdown">
    Portfolio
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'stock_quotes' %}">Stock Quotes</a></li>
    <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
  </ul>
</li>
{% endblock %}

{% block content %}
<form id="id_portfolio" method="post">
  {% csrf_token %}
  <a style="display: none">{{ form.new_portfolio }} {{ form.portfolio_name }} {{ form.portfolios }}
    {{ form.currencies }} {{ form.symbol }} {{ form.stockdetails }}
  </a>

  <div class="d-inline-flex flex-wrap">
    <div class="dropdown">
      <button type="button" class="dropdown-toggle btn btn-outline-primary btn-sm mt-1">
        {% if form.portfolio_name.value == '' %}
        Portfolio
        {% else %}
        {{ form.portfolios.value }}
        {% endif %}
      </button>
      <div class="dropdown-content">
        {% if form.date_is_today.value %}
        <button class="btn btn-primary btn-sm mb=1 mb-1" name="btn1_pressed" value="new_portfolio"
          onclick="return PromptNewPortfolioName()">New</button>
        {% if form.portfolio_name.value != '' %}
        <button class="btn btn-primary btn-sm mb-1" name="btn1_pressed" value="rename_portfolio"
          onclick="return RenamePortfolio('{{ form.portfolio_name.value }}')">
          Rename</button>
        <button class="btn btn-primary btn-sm mb-1" name="btn1_pressed" value="copy_portfolio"
          onclick="return CopyPortfolio('{{ form.portfolio_name.value }}')">
          Copy</button>
        <button class="btn btn-primary btn-sm" name="btn1_pressed" value="delete_portfolio"
          onclick="return ConfirmDeletePortfolio('{{ form.portfolio_name.value }}')">
          Delete</button>
        {% endif %}
        <div class="dropdown-divider"></div>
        {% endif %}
        {% for portfolio in form.portfolios %}
        {% if not portfolio.data.selected %}
        <button class="btn btn-link text-nowrap" value="{{ portfolio.data.value}}" name="{{ portfolio.data.name }}">
          <a>{{ portfolio.choice_label }}</a></button>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if form.portfolio_name.value != '' %}
    {{ form.datepicked }}
    {% if form.date_is_today.value %}
    <button class="btn btn-outline-primary btn-sm ms-1 mt-1" name="btn1_pressed" value="add_symbol"
      onclick="return AddSymbol('{{ form.symbol.value }}')">Add symbol
    </button>
    {% endif %}
    <div class="dropdown">
      <button type="button" class="btn dropdown-toggle btn-outline-primary btn-sm ms-1 mt-1">
        {{ form.stockdetails.value }}
      </button>
      <div class="dropdown-content">
        {% for stockdetail in form.stockdetails %}
        {% if not stockdetail.data.selected %}
        <button class="btn btn-link text-nowrap" value="{{ stockdetail.data.value }}"
          name="{{ stockdetail.data.name }}">{{stockdetail.choice_label }}
        </button>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="dropdown">
      <button type="button" class="btn dropdown-toggle btn-outline-primary btn-sm ms-1 mt-1">
        {{ form.currencies.value }}</button>
      <div class="dropdown-content">
        {% for currency in form.currencies %}
        {% if not currency.data.selected %}
        <button class="btn btn-link text-nowrap" value="{{ currency.data.value }}" name="{{ currency.data.name }}">
          {{ currency.choice_label }}</button>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
  {% if form.portfolio_name.value != '' %}
  <div class="d-flex float-lg-right mt-2">
    <strong class="me-2">Value:</strong>
    <strong class="me-2">{{ totals.value }}</strong>
    <strong class="me-1">Change:</strong>
    <strong class="me-2" style="color:{{ totals.color }}">{{ totals.caret}} {{ totals.value_change }}</strong>
    <strong class="me-2">{{ exchangerate }}</strong>
  </div>
  {% endif %}

  <div class="text-nowrap mt-2 mb-2" style="overflow: hidden; clear:both">
    <table id="dtHorizontalVerticalScroll" class="table table-striped table-responsive table-sm" cellspacing="0"
      width="100%">
      <thead class="col-sm-8 custom-thead-grey">
        <tr>
          <th width="17%">Company</th>
          <th width="10%">Symbol</th>
          <th width="10%">Currency</th>
          <th width="10%">Price</th>
          <th width="10%">Qty</th>
          <th width="10%">Value<br>({{form.currencies.value}})</th>
          <th width="3%"></th>
          <th width="10%">Change<br>({{form.currencies.value}})</th>
          <th width="10%"></th>
          <th width="10%"></th>
        </tr>
      </thead>
      <tbody>
        {% increment -1 as change_btn_counter %}
        {% for stock in stocks %}
        <tr>
          {% if form.stockdetails.value == form.stockdetails.field.choices.0.0 %}
          <td width="17%"><a class="btn-link" href="{% url 'stock_intraday' source stock.symbol %}">
              {{ stock.name|truncatechars:20 }}</a>
          </td>
          {% elif form.stockdetails.value == form.stockdetails.field.choices.1.0 %}
          <td width="17%"><a class="btn-link" href="{% url 'stock_news' source stock.symbol %}">
              {{ stock.name|truncatechars:20 }}</a>
          </td>
          {% elif form.stockdetails.value == form.stockdetails.field.choices.2.0 %}
          <td width="17%"><a class="btn-link" href="{% url 'stock_press' source stock.symbol %}">
              {{ stock.name|truncatechars:20 }}</a>
          </td>
          {% endif %}
          <td width="10%">{{ stock.symbol }}</td>
          <td width="10%">{{ stock.currency }}</td>
          <td width="10%">{{ stock.price }}</td>

          {% if stock.currency != 'N/A' %}
          <td width="10%">{{ stock.quantity }}</td>
          <td width="10%">{{ stock.value }}</td>
          <td style="width: 3%; color:{{ stock.font_color }}">{{ stock.caret_up_down }}</td>
          <td style="width: 10%; color:{{ stock.font_color }}">{{ stock.value_change }}</td>
          {% if form.date_is_today.value %}
          <td width="10%">
            <button class="btn btn-outline-secondary btn-sm" name="change_qty_btn_pressed" value="{{ stock.symbol }}, "
              onclick="return ChangeQuantity('{{ stock.name }}', '{{ stock.quantity }}', '{{ change_btn_counter }}')">Change</button>
          </td>
          {% increment change_btn_counter as change_btn_counter %}
          {% else %}
          <td width="10%"></td>
          {% endif %}
          {% else %}
          <td width="10%"></td>
          <td width="10%"></td>
          <td style="width:3%"></td>
          <td width="10%"></td>
          <td width="10%"></td>
          {% endif %}

          {% if form.date_is_today.value %}
          <td width="10%">
            <button class="btn btn-outline-secondary btn-sm" name="delete_symbol_btn_pressed" value="{{ stock.symbol }}"
              onclick="return ConfirmDeleteSymbol('{{ stock.name }}' )">Delete</button>
          </td>
          {% else %}
          <td width="10%"></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <small>Data provided by <a href="https://{{ data_provider_url }}" target="_blank">{{ data_provider_url }}</a></small>

</form>
<br><br><br><br>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/datepicker.min.js' %}"></script>
<script>
  var form = document.getElementById('id_portfolio');

  function PromptNewPortfolioName() {
    var newPortfolio = prompt('What is the name of the new portfolio', '');

    if (newPortfolio != null && newPortfolio != '' && newPortfolio != "''") {
      form.new_portfolio.value = newPortfolio;
      return true;
    }
    else {
      return false;
    }
  }

  function RenamePortfolio(name) {
    var newName = prompt('Give a new name for portfolio: ' + name);

    if (newName != null && newName != '' && newName != "''") {
      form.portfolio_name.value = newName;
      return true;
    }
    else {
      return false;
    }
  }

  function CopyPortfolio(name) {
    var newName = prompt('Give a name for the copied portfolio: ' + name);

    if (newName != null && newName != '' && newName != "''" && newName != name) {
      form.new_portfolio.value = newName;
      return true;
    }
    else {
      return false;
    }
  }

  function ConfirmDeletePortfolio(portfolio) {
    confirmed = confirm('Do you really want to delete portfolio: ' + portfolio + '?');
    if (confirmed) {
      return true;
    }
    else {
      return false;
    }
  }

  function AddSymbol(symbol) {
    var newSymbol = prompt('Add a stock symbol', symbol);

    if (newSymbol != null && newSymbol != '' && newSymbol != "''") {
      form.symbol.value = newSymbol;
      return true;
    }
    else {
      return false;
    }
  }

  function ChangeQuantity(name, qty, counter) {
    var newQuantity = prompt('Change quantity for ' + name, qty);
    newQuantity = parseFloat(newQuantity);
    qty = parseFloat(qty);

    if (newQuantity >= 0 && newQuantity != qty) {
      // if there is only one change button then change_qty_btn_pressed is not an array
      try {
        var a = form.change_qty_btn_pressed[counter].value;
        form.change_qty_btn_pressed[counter].value += newQuantity;
      }
      catch (err) {
        form.change_qty_btn_pressed.value += newQuantity;
      }
      return true;
    }
    else {
      return false;
    }
  }

  function ConfirmDeleteSymbol(companyName) {
    confirmed = confirm('Do you really want to delete ' + companyName + '?');
    if (confirmed) {
      return true;
    }
    else {
      return false;
    }
  }

  $('#id_datepicked').change(function () {
    form.submit()
  })

</script>
{% endblock %}