/* contain stylesheet */

.flex-container {
  display: flex;
  flex-direction: row;
}

.scroll {
  overflow-y: scroll;
}

.table-fixed tbody {
  display: block;
  height: 50vh;
}

.table-fixed thead tr {
  display: table;
  width: 99%;
  table-layout: fixed;

}

.table-fixed tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.custom-thead-grey th {
  color: #fff;
  background-color: #888;
}
