/* container stylesheet */
.scroll {
  overflow-y: auto;
}

.custom-thead-grey th {
  color: #fff;
  background-color: #888;
}

.item_select {
  text-align: left;
  color: black;
  font-weight: normal;
  font-size: 1.0em;
  background-color: white;
}

.item_select:hover {
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
  background-color: darkgray;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 8px 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: black;
  text-align: left;
}

.hideOnMobile {
  display: none;
}

@media screen and (min-device-width: 420px) {
  .hideOnMobile {
    display: inline;
  }
}

img {
  max-width: 100%
}

@media (min-width: 768px) {
  .dropdown-container {
    width: 500px;
  }
}

.float-lg-right {
  float: right;
}

@media screen and (max-width: 992px) {
  .float-lg-right {
    float: left;
  }
}