{% extends 'base.html' %}
{% load humanize %}

{% block navbutton %}
<li class="nav-item dropdown">
  <a class="nav-link me-1">Home</a>
</li>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<img src="{{member_image.url}}" width="80%" </img>
<br><br>
<div class="textarea" contenteditable="false">{{ member_text|safe }}</div>
{% else %}
<img src="{{welcome_image.url}}" width="80%" </img>
<br><br>
<div class="textarea" contenteditable="false">{{ welcome_text|safe }}</div>
{% endif %}
<br><br><br><br>
{% endblock %}