{% extends 'base.html' %}
{% load humanize %}

{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item active">Home</li>
</ol>
{% endblock %}

{% block navbutton %}<a style="color: white">Hello</a>{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <img src="{{member_image.url}}" width="80%"</img>
  <br><br>
  <div class="textarea" contenteditable="false">{{ member_text|safe }}</div>
{% else %}
  <img src="{{welcome_image.url}}" width="80%"</img>
  <br><br>
  <div class="textarea" contenteditable="false">{{ welcome_text|safe }}</div>
{% endif %}
<br><br><br><br>

{% endblock %}
