{% extends 'base.html' %}

{% block title %}Change password successful{% endblock %}

{% block navbutton %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle me-auto" href="#" role="button" data-bs-toggle="dropdown">
    Success
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
    <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
  </ul>
</li>
{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert">
  <strong>Success!</strong> Your password has been changed!
</div>
<a href="{% url 'home' %}" class="btn btn-secondary">Return to home page</a>
{% endblock %}