{% extends 'base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'newspage' %}">News</a></li>
  <li class="breadcrumb-item active">My News</li>
</ol>
{% endblock %}

{% block content %}
<form id="newsitemform" method="post">
{% csrf_token %}
<table class="table table-striped mb-4">
  <thead class="thead-inverse">
  <tr>
    <th>Site</th>
    <th style="min-width:110px;">Date</th>
    <th>Item</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for item in newsitems %}
    <tr>
    <td class="align-middle">
      <input type="submit" class="align-middle btn btn-link" name="site_btn" value="{{ item.news_site.news_site }}">
    </td>
    <td class="align-middle align-left">{{ item.published|date:"d b Y" }}</td>
    <td class="align-middle">{{ item.title }}
      <a href="{{ item.link}}">  (link)</a></td>
    <td>
      <button class="btn btn-outline-secondary btn-sm" name="deleted_item_pk"
              value="{{ item.pk }}" onclick="return Validate()">Delete</button>
    </td>
    </tr>
  {% endfor %}
</table>
</form>
<br><br><br><br>
{% endblock content %}

{% block javascript %}
<script>
  function Validate() {
  	confirmed = confirm('Do you really want to delete this item?');
    if (confirmed) {
      return true;
    }
    else {
      return false;
    }
  }
</script>
{% endblock %}
