{% extends 'base.html' %}

{% block navbutton %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle mr-1" href="#" data-toggle="dropdown">
      Select sites
    </a>
    <div class="dropdown-menu dropdown-menu-left">
      <a class="dropdown-item" href="{% url 'newspage' %}">News</a>
      <a class="dropdown-item" href="{% url 'home' %}">Home</a>
    </div>
  </li>
</ul>
{% endblock %}

{% block content %}
    <form method="post">
      {% csrf_token %}
      <div class="container">
        <ul style="width:100%; list-style-type:none">
        {% for item in form_select_sites.selected_sites %}
          <li style="float:left; width:20%;">
            {{ item }}
          </li>
        {% endfor %}
        </ul>
`     </div>
    ` <div style="clear:left">
        <input type='submit' value='submit' class="btn btn-primary"></input>
        <a href="{% url 'newspage' %}" class="btn btn-primary">Cancel</a>
      </div>
    </form>

    <form method="post">
      {% csrf_token %}
      <div style="clear:left">
        <br><br>
        <p>Enter a new site ...</p>
        <p><font color="red"> {{ new_site_error_message }}</font></p>
        <div> {{ form_new_site.news_site }} {{ form_new_site.news_url }}
        <input type='submit' value='add' class="btn-sm btn-primary"></input></div>
        <br><br>
      </div>
    </form>

{% endblock content %}
