{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link href="{% static 'css/container-styles.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block navbutton %}
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle me-auto" href="#" role="button" data-bs-toggle="dropdown">
		News
	</a>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li>
	</ul>
</li>
{% endblock %}

{% block content %}
<div class="container mb-1">
	<h2 class="item1" style="font-weight: bold; text-align: left;">{{ news_site }}</h2>
	{% if error_message %}
	<div>
		<font color="red" <strong>{{ error_message }}</strong></font> <br><br>
	</div>
	{% endif %}
</div>

<form id="controlform" method="post">
	<div class="container">
		{% csrf_token %}

		<button class="btn btn-primary btn-sm dropdown-toggle mt-1" type="button" id="SiteButton" data-bs-toggle="dropdown">
			Sites<span class="caret"></span></button>
		<ul class="dropdown-menu" style="height:40%; overflow:hidden; overflow-y:scroll">
			{% for site in news_sites %}
			<li><input type="submit" class="btn btn-sm item_select" name="site_btn" value="{{ site }}"></input></li>
			</li>
			{% endfor %}
		</ul>

		<button class="btn dropdown-toggle btn-primary btn-sm mt-1" type="button" data-bs-toggle="dropdown">
			Titles<span class="caret"></span>
		</button>
		<ul class="dropdown-menu container dropdown-container"
			style="height:40%; overflow:hidden; overflow-y:scroll; overflow-x:scroll">
			{% for item, title in news_titles %}
			<li><button type="submit" class="btn btn-sm item_select" name="title_btn" value="{{ item }}">
					{{ title }}
				</button></li>
			{% endfor %}
		</ul>

		<input type="hidden" name="control_btn" id="keyinput"></input>
		<input type="submit" class="hideOnMobile btn btn-primary btn-sm mt-1" name="control_btn"
			value="{{ controls.previous }}"></input>
		<input type="submit" class="hideOnMobile btn btn-primary btn-sm mt-1" name="control_btn"
			value="{{ controls.next }}"></input>

		{% if user.is_authenticated %}
		<a class="btn btn-primary btn-sm mt-1" href="{% url 'newssites' %}">Select</a>
		<a class="btn btn-primary btn-sm mt-1" href="{% url 'mynewsitems' %}">My news</a>
		{% endif %}
	</div>

	<div class="container" style="clear:both">
		<div class="text-muted" style="font-size: 10px; text-align:left">
			{{ reference }}
		</div>
		<div class="card" style="border-width: 2px">
			<card class="card-body">
				<h2 class="card-title" style="background-color:lightgrey">{{ news_title }}</h2>

				<a style="padding:0px" class="btn btn-link" href="{{ news_link }}" target="_blank">link</a>
				<input style="padding:0px" type="submit" class="btn btn-link" id="id_scroll" name="control_btn"
					value="{{ controls.scroll }}"></input>

				{% if show_banner_button %}
				<input style="padding:0px" type="submit" class="hideOnMobile btn btn-link" id="id_banner" name="control_btn"
					value="{{ controls.banner }}"></input>
				{% endif %}

				{% if user.is_authenticated %}
				<input style="padding:0px" type="submit" class="btn btn-link" name="control_btn"
					value="{{ controls.store }}"></input>
				{% endif %}
				<div class="text-muted" style="position: relative; bottom: -10px; font-size: 10px; float:right;">
					{{ status }}
				</div>
				<div class="card-text">
					{% if banner and show_banner_button and news_summary_flat_text %}
					<script>
						var button_banner = document.getElementById("id_banner");
						set_banner_color();
						function set_banner_color() {
							button_banner.style["color"] = "DodgerBlue";
							button_banner.style["font-weight"] = "bolder";
						};
					</script>
					<svg style="background-color:lightgrey;" viewBox="0, 0, 300, 30">
						<text x="500" y="20" style="font-weight: bold;">
							{{ news_summary_flat_text|safe }}
							<animate attributeName="x" from="300" to="-300" dur="{{ delay }}s" repeatCount="indefinite">
						</text>
					</svg>
					{% else %}
					<div class="textarea" contenteditable="false" style="font-size:large; background-color:lightgrey">
						{{ news_summary|safe }}
					</div>
					{% endif %}
				</div>
		</div>
		<div class="hideOnMobile text-muted" style="font-size: 10px; float: right; padding:0px">
			{{ help_arrows }}{{ help_banner }}
		</div>
	</div>
	<br><br><br><br>
</form>

{% endblock content %}

{% block javascript %}
<script>
	var form = document.getElementById("controlform");
	var button_scroll = document.getElementById("id_scroll");
	setAutoUpdate({{ scroll }});

	function setAutoUpdate(scroll) {
		if (scroll) {
			console.log("set auto update with a delay of " + {{ delay }});
		setTimeout("window.location.href='{% url 'newspage' %}'", {{ delay }} * 1000 );
	button_scroll.style["color"] = "DodgerBlue";
	button_scroll.style["font-weight"] = "bolder";
		}
	};

	document.addEventListener('keydown', handleKeyDown, false);
	function handleKeyDown(event) {
		const keyName = event.key;
		console.log(`Key pressed: ${keyName}`);
		if (keyName == 'ArrowRight') {
			document.getElementById("keyinput").value = "{{ controls.next }}";
			form.submit();
		}
		else if (keyName == 'ArrowLeft') {
			document.getElementById("keyinput").value = "{{ controls.previous }}";
			form.submit();
		}
	};

	document.addEventListener('touchstart', handleTouchStart, false);
	document.addEventListener('touchmove', handleTouchMove, false);
	var xDown = null;
	function handleTouchStart(event) {
		xDown = event.touches[0].clientX;
	};

	function handleTouchMove(event) {
		if (!xDown) {
			return;
		}

		var xUp = event.touches[0].clientX;
		var xDiff = xDown - xUp;

		if (xDiff > 10) {
			// swipe left
			document.getElementById("keyinput").value = "{{ controls.next }}";
			form.submit();
		}

		if (xDiff < -10) {
			// swipe right
			document.getElementById("keyinput").value = "{{ controls.previous }}";
			form.submit();
		}

		xDown = null;
	};

</script>
{% endblock %}