{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/container-styles.css' %}">
{% endblock %}

{% block navbutton %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle mr-1" href="#" data-toggle="dropdown">
      News
    </a>
    <div class="dropdown-menu dropdown-menu-left">
      <a class="dropdown-item" href="{% url 'home' %}">Home</a>
    </div>
  </li>
</ul>
{% endblock %}

{% block content %}
	 <div class="container">
	  	<h2 class="item1" style="font-weight: bold; text-align: left;">News from: {{ news_site }}</h2>
	  	{% if error_message %}
		    	<div> <font color="red" <strong>{{ error_message }}</strong></font> <br><br></div>
		  {% endif %}
	 </div>

	 <form id="controlform" method="post">
	 <div class="container">
     {% csrf_token %}
     <div style="float: left" class"">
       <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="SiteButton" data-toggle="dropdown" onclick="Pause()">
                Sites<span class="caret"></span></button>
         <ul class="dropdown-menu" style="height:40%; overflow:hidden; overflow-y:scroll">
		 	   {% for site in news_sites %}
			     <li><input type="submit" class="btn btn-sm item_select" name="site_btn" value="{{ site }}"></input></li></li>
			   {% endfor %}
         </ul>
     </div>

     <div style="float: left" class="ml-1 mr-1">
       <button class="btn dropdown-toggle btn-primary btn-sm" type="button" data-toggle="dropdown" onclick="Pause()">
                Titles<span class="caret"></span>
       </button>
       <ul class="dropdown-menu" style="height:40%; overflow:hidden; overflow-y:scroll">
         {% for item, title  in news_titles %}
  			   <li><button type="submit" class="btn btn-sm item_select" name="title_btn" value="{{ item }}">{{ title|safe }}</button></li>
  			 {% endfor %}
       </ul>
     </div>

     <input type="hidden" name="control_btn" id="keyinput"></input>
		 <input type="submit" class="btn btn-primary btn-sm" name="control_btn" value="{{ controls.previous }}"></input>
		 <input type="submit" class="btn btn-primary btn-sm" name="control_btn" value="{{ controls.next }}"></input>


		 {% if user.is_authenticated %}
       <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{% url 'newssites' %}'">select</button>
		 	 <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{% url 'mynewsitems' %}'">My news</button>
		 {% endif %}
	 </div>

	 <div class="container">
	   <small>{{ reference }}</small>
		 <div class="card" style="border-width: 2px">
		   <card class="card-body">
			 <h2 class="card-title" style="background-color:lightgrey">{{ news_title|safe }}</h2>

       <button style="padding:0; margin:0" type="button" class="btn btn-link" id="button_pause" onclick="Pause()">pause</button>
			 <a style="padding:0; margin:2px" class="btn btn-link" href='{{ news_link }}'>link</a>

       {% if show_banner_button %}
  		   <input style="padding:0; margin:0" type="submit" class="hideOnMobile btn btn-link" name="control_btn" value="{{ controls.banner }}"></input>
  		 {% endif %}

			 {% if user.is_authenticated %}
			   <input style="padding:0; margin:0" type="submit" class="btn btn-link" name="control_btn" value="{{ controls.store }}"></input>
			 {% endif %}

			 <div class="card-text">
			 {% if banner and show_banner_button and news_summary_flat_text %}
				 <svg style="background-color:lightgrey;" viewBox="0, 0, 300, 30">
				 <text  x="500" y="15" style="font-size:10px; font-weight: bold">
				   {{ news_summary_flat_text|safe }}
				   <animate attributeName="x" from="300" to="-300" dur="{{ delay }}s" repeatCount="indefinite">
				 </text>
				 </svg>
			 {% else %}
			   <div class="textarea" contenteditable="false" style="background-color:lightgrey">{{ news_summary|safe }}</div>
			 {% endif %}
			 </div>
		 </div>
		 <small><p style="text-align:left;">{{ status }}<span class="hideOnMobile" style="float: right;">{{ help_arrows }}{{ help_banner }}</span></p></small>
		 <br><br><br>
  </div>
  </form>
{% endblock content %}

{% block javascript %}
<script>
	var timeout = setTimeout("window.location.href='{% url 'newspage' %}'",{{ delay }}*900 );
	var pause_status = false;
	var button_pause = document.getElementById("button_pause");
  var form = document.getElementById("controlform");

	function Pause() {
		if (pause_status == false) {
			clearTimeout(timeout);
			button_pause.style["color"] = "orange";
      button_pause.style["font-weight"] = "bolder"
			pause_status = true;
			}
		else {
      // submit form to get next item
      form.submit();
			}
		};

	document.addEventListener('keydown', handleKeyDown, false);
	function handleKeyDown(event) {
		const keyName = event.key;
		console.log(`Key pressed: ${keyName}`);
		if (keyName == 'ArrowRight') {
			document.getElementById("keyinput").value = "{{ controls.next }}";
			form.submit();
			}
		else if (keyName == 'ArrowLeft') {
			document.getElementById("keyinput").value = "{{ controls.previous }}";
			form.submit();
			}
		};

	document.addEventListener('touchstart', handleTouchStart, false);
	document.addEventListener('touchmove', handleTouchMove, false);
	var xDown = null;
	function handleTouchStart(event) {
		xDown = event.touches[0].clientX;
		};

	function handleTouchMove(event) {
		if ( ! xDown ) {
			return;
			}

		var xUp = event.touches[0].clientX;
		var xDiff = xDown - xUp;

		if (xDiff > 5) {
			// swipe left
			document.getElementById("keyinput").value = "{{ controls.next }}";
			form.submit();
			}

		if (xDiff < -5) {
			// swipe right
			document.getElementById("keyinput").value = "{{ controls.previous }}";
			form.submit();
			}

		xDown = null;
		};

</script>
{% endblock %}
