<html>
Hello {{ first_name }},

Welcome to Howdiweb!

Here you can contribute to conversations and discussions on the public boards
as well create your own private discussion boards. Other members of the site
you can invite to join your private discussion.

Then there is news from various rss, which you can either view as a banner,
if the the length the message is reasonably short or as plain text.

As a reminder, your username is: <strong>{{ username }}</strong>

If you forget your password your can go to the login page and press 'Forgot
your password?', you will then be asked to enter your email address (as in this
message) and the the system will send you instructions on how to reset your
password.

If you have questions or suggestions please contact the howdimain team at
<a href="mailto:info@howdiweb.nl">info@howdiweb.nl</a>.

Good luck,

The howdimain team.
<a href="https://www.howdiweb.nl">www.howdiweb.nl</a>

</html>
