<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>{% block title %}Howdiweb{% endblock %}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Peralta|Teko|Russo+One">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all">
  <link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css" media="all">
  <link rel="stylesheet" href="{% static 'css/container-styles.css' %}" type="text/css" media="all">
  <link rel="stylesheet" href="{% static 'css/addons/datatables.min.css' %}" type="text/css" media="all">
  <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}" type="text/css" media="all">
  <link rel="icon" href="{% static 'img/favicon.ico' %}">
  {% block stylesheet %}{% endblock %}

  <script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/addons/datatables.min.js' %}"></script>
  <!--<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>-->
  <script type="text/javascript" src="{% static 'js/mdbtools.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/datepicker.min.js' %}"></script>

</head>

<body>
  {% block body %}
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark py-md-1">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Howdiweb</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu"
        aria-controls="mainmenu" aria-expanded="false" aria-controls="mainmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav me-auto">
          {% block navbutton %}{% endblock %}
          <li class="nav-item"><a class="nav-link" href="{% url 'boards' %}">Boards</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'newspage' %}">News</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'play_top_tracks' %}">Music</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'stock_quotes' %}">Stock quote</a></li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'my_boards' %}">My boards</a></li>
              <li><a class="dropdown-item" href="{% url 'mynewsitems' %}">My news</a></li>
              <li><a class="dropdown-item" href="{% url 'playlist' 1 %}">My music</a></li>
              <li><a class="dropdown-item" href="{% url 'portfolio' %}">My portfolio</a></li>
              <li><a class="dropdown-item" href="{% url 'my_account' %}">My account</a></li>
              <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
              {% if user.is_staff %}
              <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
              {% endif %}
              <div class="dropdown-divider"></div>
              <form id="form_logout" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <li><a class="dropdown-item" href="javascript:$(form_logout).submit()">Log out</a></li>
              </form>
            </ul>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}" class="btn btn-outline-secondary me-1 mb-1">Log in</a></li>
          <li><a href="{% url 'signup' %}" class="btn btn-primary">Join now</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <br><br><br>
    {% block breadcrumb %}{% endblock %}
    {% block content %}{% endblock %}
    <br><br>
    <div class="footer">
      <div class="container">
        <small>powered by DigitalOcean<a style="color:black" href="https://www.digitalocean.com/"
            target="_blank"></small>
        <img src="{% static 'img/512px-DigitalOcean_logo.png' %}"
          style="width:40px; height:30px; vertical-align:middle"></a>
        <span style="float:right;"><small>&copy; 2024 Howdimain</small></span>
      </div>
    </div>
  </div>
  {% endblock body %}
</body>
{% block javascript %}{% endblock %}

</html>