<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>{% block title %}Howdiweb{% endblock %}</title>

  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/semantic.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.min.css' %}" type="text/css" media="all" rel="stylesheet" />


  <link href="https://fonts.googleapis.com/css?family=Peralta|Teko|Russo+One" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/container-styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/addons/datatables.min.css' %}">
  <link rel="icon" href="{% static 'img/favicon.ico' %}">

  {% block stylesheet %}{% endblock %}

</head>

<body>
  {% block body %}
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark py-md-1">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Howdiweb</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav mr-auto">
          {% block navbutton %}{% endblock %}
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'boards' %}">Boards</a></li>
          {% endif %}
          <li class="nav-item"><a class="nav-link" href="{% url 'newspage' %}">News</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'play_top_tracks' %}">Music</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'stock_quotes' %}">Stock quote</a></li>
        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-left">
              <a class="dropdown-item" href="{% url 'mynewsitems' %}">My news</a>
              <a class="dropdown-item" href="{% url 'playlist' %}">My music</a>
              <a class="dropdown-item" href="{% url 'portfolio' %}">My portfolio</a>
              <a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
              <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
              {% if user.is_staff %}
              <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
              {% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </div>
          </li>
        </ul>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-secondary mr-1">Log in</a>
        <a href="{% url 'signup' %}" class="btn btn-primary">Join now</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container" style="padding-top: 75px">
    {% block breadcrumb %}{% endblock %}
    {% block content %}{% endblock %}
    <div class="footer">
      <div class="container">
        <small>powered by DigitalOcean<a style="color:black" href="https://www.digitalocean.com/"
            target="_blank"></small>
        <img src="{% static 'img/512px-DigitalOcean_logo.png' %}"
          style="width:40px; height:30px; vertical-align:middle"></a>
        <span style="float:right;"><small>&copy; 2024 Howdimain</small></span>
      </div>
    </div>
  </div>
  {% endblock body %}

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/addons/datatables.min.js' %}"></script>

  <script src="{% static 'plugins/js/ace.js' %}"></script>
  <script src="{% static 'plugins/js/semantic.min.js' %}"></script>
  <script src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script src="{% static 'plugins/js/resizable.min.js' %}"></script>
  <script src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script src="{% static 'martor/js/martor.min.js' %}"></script>

  <script src="{% static 'js/mdbtools.js' %}"></script>

  {% block javascript %}{% endblock %}
</body>

</html>